.product-container{
  //  background: url('../public//asset//imgs//bac-1.jpg') center center;
    background-size: cover;
   
        background-color: #212529;
     
    
}

.card{
    
    
  

    img{
        border-radius: 50% !important;
        // width: 150px !important;
        margin: auto;
        height: 100%;
    }
    button{
        font-size: 0.75rem !important;
    }
}
.text-head{
    
    text-align: right !important;
    background-color: red !important;
    
}
@media screen and (max-width:660px) {
    .card{
        font-size: 10px!important;
    }
}
.wellcome-text{
    line-height: 40px;
    
}
.myprod-text{
    text-align: right !important;
   padding: 20px;
    background-color: red !important;
    
  
}