.Product_slider{
 
   
    margin: 200px 0;
    .p-header {
        padding: 10px 30px ;
        
        
        background-color: #131E25 !important;
        h3{
            font-size: 20px !important;
        }
    }
}
